:root {
    --primary: #575757;
    --blue-heading: #29ABB7;
}

body {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--primary);
}

h2 {
    text-align: left;
    font-size: 30px;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    color: var(--blue-heading);
}

.trips, .unique-skills, .steps {
    margin: 0 8vw;
}

/* ----------------------------------PREMIÈRE SECTION */

.destinations {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2vw;
    text-align: center;
}
.destination {
    /* border: 1px solid black; */
    position: relative;
    max-width: 300px;
    height: 300px;
    border-radius: 5px;
    color: white;
}
#aus {
    background-image: url('images/australia.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px -200px 200px 0px rgba(0, 69, 77, 0.493);
}
#mad {
    background-image: url('images/madives.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    box-shadow: inset 0px -200px 200px 0px rgba(72, 77, 0, 0.507);
}
#tan {
    background-image: url('images/tanzania.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px -200px 200px 0px rgba(77, 59, 0, 0.527);   
}
#tha {
    background-image: url('images/thailand.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    box-shadow: inset 0px -200px 200px 0px rgba(0, 74, 77, 0.507);  
}
.destination-infos {
    position: absolute;
    bottom: 0;
    padding: 0.5rem 1rem;
}
.destination img {
    max-width: 100%;
}
.destination h3 {
    font-size: 14px;
}
.description {
    font-size: 12px;
}
.destination i {
    margin-right: 0.25rem;
}


/* ----------------------------------DEUXIÈME SECTION */

.unique-skills {
    margin-top: 10vh;
}
.unique-skills h3 {
    color: var(--blue-heading);
}
.skills {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    gap: 5vh 0;
}
.skills-visual img {
    width: 100%;
    height: auto;
}
.one-skill {
    margin: 6vh 0;
    display: flex;
    flex-direction: column;
}
.one-skill .image, .one-skill h3 {
    text-align: center;
}
.one-skill p {
    text-align: left;
}

/* ----------------------------------TROISIÈME SECTION */

.invoice-hero {
    position: relative;
    margin: 5vh 0;
    height: fit-content;
    padding: 2vh 8vw;
    color: white;
    background-color: var(--blue-heading);
}
.invoice-request {
    margin: 5vh 0;
    padding: 1rem 3rem;
    background-color: var(--blue-heading);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.circle-one, .circle-two {
    display: none;
}
.invoice-image {
    display: none;
}

/* ----------------------------------QUATRIÈME SECTION */



/* -------------------------------------RESPONSIVE */

@media only screen and (min-width: 600px) {

    h2 {
        text-align: center;
        font-size: 42px;
    }

    .destinations {
        text-align: left;
    }
    .destination {
        height: 350px;
    }
    .destination h3 {
        font-size: 16px;
    }
/* -------------------------------------------- */
    .skills {
        display: flex;
        flex-direction: column;
    }
    .one-skill {
        flex-direction: row;
        text-align: center;
        gap: 0 5vw;
    }
    .one-skill .image, .one-skill h3 {
        text-align: left;
    }

}

@media only screen and (min-width: 1024px) {

    .skills {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0 5vw;
    }
/* -------------------------------------------- */
    .invoice-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20vh 0;
        width: 40%;
        height: 400px;
    }
    .circle-one, .circle-two {
        display: block;
        position: absolute;
        width: 150px;
        height: 150px;
        border: 10px solid white;
        border-radius: 200px;
    }
    .circle-one {
        bottom: 0;
        right: -5%;
        z-index: 2;
    }
    .circle-two {
        bottom: 15%;
        right: -12%;
        z-index: 2;
    }
    .invoice-image {
        display: block;
        position: absolute;
        top: -25%;
        right: -50%;
        z-index: 1;
        width: 700px;
        height: auto;
        border: 10px solid white;
        border-radius: 5px;
    }
    .invoice-image img {
        width: 100%;
    }
}